Repository Rdatatable/data.table, pull requests merged in 2025-09, with the labels that each got.

#7272 frollapply rewritten, by.column=F, parallel, any type
  NEWS.md
  R/froll.R
  R/frollapply.R
  inst/tests/froll.Rraw
  man/froll.Rd
  man/frollapply.Rd
  src/data.table.h
  src/froll.c
  src/frollR.c
  src/frolladaptive.c
  src/frollapply.c
  src/init.c
Labels: froll

#7289 froll improve error messages
  R/frollapply.R
  inst/tests/froll.Rraw
  src/frollR.c
Labels: froll

#7298 froll fast more friendly for floating point rounding issue
  src/froll.c
Labels: froll

#7299 new rolling functions: min and prod
  NAMESPACE
  NEWS.md
  R/froll.R
  inst/tests/froll.Rraw
  man/froll.Rd
  src/data.table.h
  src/froll.c
  src/frollR.c
  src/frolladaptive.c
Labels: froll

#7301 froll: use `const`, `internal_error`; style `malloc`
  R/froll.R
  src/data.table.h
  src/froll.c
  src/frollR.c
  src/frolladaptive.c
Labels: froll

#7300 fix froll memory leaks
  src/froll.c
  src/frolladaptive.c
Labels: froll

#7306 frollapply throttle usage of multiple threads
  R/frollapply.R
  R/openmp-utils.R
  inst/tests/froll.Rraw
  man/frollapply.Rd
  src/data.table.h
  src/init.c
  src/openmp-utils.c
Labels: froll

#7310 take out macro definitions from inside the froll functions
  src/froll.c
  src/frollapply.c
Labels: froll

#7311 more macros to take out from the froll functions
  src/frolladaptive.c
Labels: froll

#7312 rm old example of frollapply() in froll.Rd
  man/froll.Rd
Labels: froll

#7314 frollapply simplify smarter, handles median well
  R/frollapply.R
  inst/tests/froll.Rraw
Labels: froll

#7319 GitLab CI: install XQuartz on macOS
  .gitlab-ci.yml
Labels: ci

#6360 Update Documentation for `env` Parameter Usage*
  man/data.table.Rd
  vignettes/datatable-programming.Rmd
Labels: documentation
