Repository Rdatatable/data.table, pull requests merged in 2025-06, with the labels that each got.

#7100 Update dockerfile registry owner in codespaces
  .devcontainer/r-ancient-gcc/Dockerfile
  .devcontainer/r-devel-gcc/Dockerfile
Labels: ci, dev

#7074 formatting improvements in fread
  src/fread.c
Labels: fread

#7104 Add a TODO in like() about future simplification
  R/like.R
Labels: internals
